:root {
  	--primary-background: linear-gradient(#F3F3F3, #EDEDED);
  	--hovered-background: linear-gradient(#E1E1E1, #DBDBDB);
    --active-background: #8A8A8A;
  	--primary-border: #D8D8D8;
}

body {
    background-color: #F9F9F9;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    color: #1e1e1e;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    margin-top: 0px;
    margin-bottom: 60px;
    font-size: 48px;
}

button {
  	color: var(--primary-background);
    border: 1px solid #dbdbdb;
    border-radius: 4px;
  	cursor: pointer;
  	height: 32px;
    width: 56px;
  	background: var(--primary-background);
  	font-size: 0.75em;
    margin-left: 2px;
    margin-right: 2px;
}

button:hover {
  	background: var(--hovered-background);
}

button:active {
    background: var(--active-background);
    color: #ffffff;
}

button-status {
    height: 12px;
    width: 80px;
    color: #ffffff;
    border-radius: 4px;
    font-size: 10px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
}
